<ul class="list-unstyled components mb-5">
    <li class="active">
        <a href="#"><span class="fa fa-home mr-3"></span> Siteye Git</a>
    </li>
    <li><a href="#"><span class="fa fa-download mr-3 notif"></span> Deneyimler</a></li>
    <li><a href="#"><span class="fa fa-gift mr-3"></span> Hakkımda</a></li>
    <li><a href="#"><span class="fa fa-trophy mr-3"></span> Eğitimler</a></li>
    <li><a href="#"><span class="fa fa-cog mr-3"></span> İletişim</a></li>
    <li><a href="#"><span class="fa fa-support mr-3"></span> İstatistikler</a></li>
    <li><a href="#"><span class="fa fa-support mr-3"></span> Hizmetler</a></li>
    <li><a href="#"><span class="fa fa-support mr-3"></span> Referanslar</a></li>
    <li><a href="#"><span class="fa fa-sign-out mr-3"></span> Çıkış Yap</a></li>
</ul>