@model List<Education>

    @foreach(var item in Model)
    {
    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

        <h3 class="resume-title">@item.Title</h3>
        <div class="resume-item">
            <h4>@item.University</h4>
            <h5>@item.EducationDate</h5>
            <p><em>@item.Department</em></p>
            <p>Açıklama............</p>
        </div><!-- Edn Resume Item -->

    </div>
    }

