@model List<Work>

<section id="hero" class="hero section dark-background">

    <img src="/iPortfolio-1.0.0/assets/img/filistin.jpg" alt="" data-aos="fade-in" class="">
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <h2>Erkan KARADAĞ</h2>
            <p>Bir <span class="typed" data-typed-items="@string.Join(", ", Model.Select(x => x.WorkName))"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
        </div>
    


</section>